{
  margin:0;
  padding:0;
  text-decoration: none;
}
.container{
  display: flex;
}
main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  background: #000;
  color: #fff;
  height: 200vh;
  width: 300px;
  transition: all 0.5s;
}
.top_section{
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.bars{
  display: flex;
  font-size: 20px;
  transition: all 0.5s;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 18px;
  transition: all 0.5s;
  text-decoration: none;
}
.link:hover{
  background: white;
  color: #000000;
  transition: all 0.5s;
}
.active{
  background: white;
  color: #000000;
}
.icon, .link_text{
  font-size: 10px;
}
